.copyright__title {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 13px 0 0;
  color: #000000;
}

.copyright {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: @tablet-width) {
    margin-left: auto;
    justify-content: end;
  }
}

.copyright__link {
  display: flex;
  align-items: center;
  text-decoration: none;

  &:hover .copyright__image,
  &:hover .copyright__title {
    color: #81b3d2;
  }

  &:active .copyright__image,
  &:active .copyright__title {
    color: #b3b3b3;
  }
}

.copyright__image {
  color: #000000;
}
