.form__group {
  border: 0;
  margin: 0;
  padding: 0 20px;
  border-bottom: 1px solid #e5e5e5;
  position: relative;

  @media (min-width: @tablet-width) {
    padding: 0;
    border-bottom: 0;
  }

  &::before,
  &::after {
    @media (min-width: @tablet-width) {
      position: absolute;
      content: "";
      width: 123px;
      height: 1px;
      background-color: #dbdbdb;
      top: -42px;
    }

    @media (min-width: @desktop-width) {
      width: 280px;
    }
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }

  &--introduce {
    padding-bottom: 23px;

    @media (min-width: @tablet-width) {
      width: 323px;
      margin-right: 43px;
    }

    @media (min-width: @desktop-width) {
      width: 493px;
      margin-right: 63px;
    }

    &::before,
    &::after {
      display: none;
    }
  }

  &--contacts {
    padding-bottom: 18px;

    @media (min-width: @tablet-width) {
      width: 324px;
    }

    @media (min-width: @desktop-width) {
      width: 466px;
    }

    &::before,
    &::after {
      display: none;
    }
  }

  &--impression {
    position: relative;

    @media (min-width: @tablet-width) {
      padding-bottom: 48px;
    }

    @media (min-width: @desktop-width) {
      padding-bottom: 56px;
    }
  }

  &--places {
    @media (min-width: @tablet-width) {
      padding-bottom: 42px;
    }

    @media (min-width: @desktop-width) {
      padding-bottom: 56px;
    }

    &::before,
    &::after {
      top: -54px;
    }
  }

  &--feedback {
    border-bottom: none;

    @media (min-width: @tablet-width) {
      display: flex;
      flex-direction: column;
      width: 648px;
      padding-bottom: 64px;
    }

    @media (min-width: @desktop-width) {
      width: 768px;
      padding: 0 96px 64px;
    }

    &::before,
    &::after {
      top: 12px;
    }
  }
}

.form__wrapper {
  position: relative;

  @media (min-width: @tablet-width) {
    display: flex;
    padding-bottom: 25px;
  }

  @media (min-width: @desktop-width) {
    width: 960px;
    padding-bottom: 32px;
  }

  &::before {
    @media (min-width: @tablet-width) {
      position: absolute;
      content: "";
      width: 1px;
      height: 338px;
      background-color: #dbdbdb;
      left: 323px;
    }

    @media (min-width: @desktop-width) {
      left: 493px;
    }
  }
}

.form__title {
  padding-top: 24px;
  margin-bottom: 20px;
  text-align: -moz-center;

  &--label {
    display: block;
  }

  @media (min-width: @tablet-width) {
    padding-top: 0;
    margin-bottom: 28px;

    &--introduce {
      padding-left: 44px;
    }

    &--contacts {
      padding-left: 5px;
    }
  }

  @media (min-width: @desktop-width) {
    &--introduce {
      padding-left: 65px;
    }
  }
}

.form__field-group--contacts {
  position: relative;

  @media (min-width: @tablet-width) {
    padding-left: 44px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 64px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 58px;
    height: 58px;
    background-color: #e6e6e6;
    right: 0;
    top: 21px;
    z-index: 1;
  }
}

.form__field-group--phone {
  &::after {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    top: 41px;
    right: 20px;
    background-image: url("../img/small-icons/phone.svg");
    z-index: 1;
  }
}

.form__field-group--mail {
  &::after {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    top: 41px;
    right: 20px;
    background-image: url("../img/small-icons/mail.svg");
    z-index: 1;
  }
}

.form__radio {
  @media (min-width: @tablet-width) {
    display: grid;
    padding: 0 36px;
    grid-template-columns: repeat(2, 280px);
    row-gap: 16px;
    column-gap: 16px;
  }

  @media (min-width: @desktop-width) {
    padding: 17px 53px;
    grid-template-columns: repeat(3, auto);
    column-gap: 62px;
  }
}

.form__checkbox {
  @media (min-width: @tablet-width) {
    display: grid;
    padding: 0 84px;
    grid-template-columns: repeat(2, 224px);
    row-gap: 16px;
    column-gap: 32px;
  }

  @media (min-width: @desktop-width) {
    padding: 31px 41px 31px 44px;
    grid-template-columns: repeat(4, auto);
    column-gap: 60px;
  }
}

.form__button {
  width: 281px;
  padding: 18px 34px 13px 32px;
  margin-top: 56px;

  @media (min-width: @tablet-width) {
    width: 324px;
    padding: 18px 60px 13px 49px;
    margin-top: 48px;
  }

  @media (min-width: @desktop-width) {
    width: 384px;
    padding-right: 71px;
    padding-left: 58px;
  }
}

.form__note {
  padding-left: 144px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 21px;
    padding-left: 162px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 222px;
  }
}
