.foto-card__description,
.foto-card__like {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.foto-card__author {
  font-weight: 400;
  color: #333333;
  margin: 0;
}

.foto-card__image {
  display: block;
}

@media (min-width: @tablet-width) {
  .foto-card__wrapper {
    background-color: #f2f2f2;
  }
}
