.main-index__header {
  background-color: #acd3e3;
  background-image: url("../images/background-for-promo.png");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  background-position: center;
  padding: 90px 19px 85px;
}
