.main-index__header {
  position: relative;
  background-color: #acd3e3;
  background-image: url("../img/background-for-promo.png");
  background-size: 320px auto;
  background-repeat: no-repeat;
  max-width: 100%;
  background-position: center;
  padding: 83px 19px 85px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background-for-promo@2x.png");
  }
}

.main-index__header::after {
  position: absolute;
  content: "";
  background-image: url("../img/add-background-mobile.svg");
  background-repeat: no-repeat;
  width: 320px;
  height: 57px;
  left: 0;
  bottom: 0;
}

@media (min-width: @tablet-width) {
  .main-index__header {
    background-image: url("../img/background-tablet.png");
    background-size: 768px auto;
    padding: 77px 0 91px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-tablet@2x.png");
    }
  }

  .main-index__header::after {
    background-image: url("../img/add-background-promo.svg");
    min-width: 768px;
    width: 100%;
    bottom: -1px;
  }
}

@media (min-width: @desktop-width) {
  .main-index__header {
    background-image: url("../img/background-desktop.png");
    background-size: 1200px auto;
    padding: 77px 0 90px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-desktop@2x.png");
    }
  }

  .main-index__header::after {
    background-image: url("../img/add-background-promo.svg");
    background-size: contain;
    height: 100px;
    bottom: -11px;
  }
}
