.offer__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.offer__description {
  .identical-styles();
}

@media (min-width: @tablet-width) {
  .offer {
    display: flex;
    flex-direction: column;
    padding: 61px 155px 58px;
  }

  .offer__search {
    width: 216px;
    padding: 14px 121px 17px;
  }
}
