.page {
  height: 100%;
}

.page__body {
  margin: 0 auto;
  width: 320px;
  min-height: 100%;
}

@media (min-width: @tablet-width) {
  .page__body {
    min-width: @tablet-width;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .page__body {
    min-width: @desktop-width;
    margin: 0 auto;
  }
}
