.presentation__description {
  .identical-styles();
  margin: 0;
}

.presentation__title {
  margin: 0 0 27px;
}

.presentation {
  padding: 0 20px;
}

.presentation__header {
  padding: 17px 0 38px;
  width: 100%;
  max-width: 266px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .presentation {
    padding: 0 60px;
  }

  .presentation__title {
    margin: 0 0 25px;
  }

  .presentation__header {
    padding: 62px 0 70px;
    width: 100%;
    max-width: 445px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .presentation__header {
    padding: 61px 0 63px;
    width: 100%;
    max-width: 445px;
    margin: 0 auto;
  }
}
