.reasons__list {
  background-color: #eeeeee;

  &--insert {
    background-color: #ffffff;
  }
}

.reasons__item--color {
  background-color: rgb(129, 179, 210);
}

.reasons__offer {
  .identical-styles();
}

.reasons__description {
  .identical-styles();
  margin: 0;

  &--color {
    color: #ffffff;
  }
}

.reasons__number {
  .identical-styles();

  &--color {
    color: #ffffff;
  }
}

.reasons__image {
  display: block;
}
